# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
MDK-ARM/.vscode/c_cpp_properties.json
MDK-ARM/.vscode/keil-assistant.log
*.crf
*.axf
MDK-ARM/20170913_UCB_V20B/UCB_V20F.build_log.htm
*.Simon Offenberger
MDK-ARM/.vscode/c_cpp_properties.json
MDK-ARM/.vscode/keil-assistant.log
*.crf
*.dep
*.log
MDK-ARM/.vscode/c_cpp_properties.json
*.axf
*.htm
*.lst
.vscode
MDK-ARM/EMischerV10A